body{
    margin: 0;
    background : #050505;
}

.nav-links{
    display:flex;
    gap:50px;
    list-style:none;
    margin-left: auto;
}

.home, .category, .featured, .stories, .about{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15pt;
}

.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 5rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);    
}

.logo{
    display: flex;
}

.logo .white,
.logo .red{
    font-size: 1.5rem;
}

.white{
    font-size: 7rem;
    color: azure;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: italic;
}
.red{
    font-size: 7rem;
    color: rgb(221, 0, 0);
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.car-hero{
    width:100%;
    height:70vh;
    object-fit:cover;
    display: block;
    margin-bottom: 30px;
}

.hero{
    position: absolute;
    top: 18%;
    left: 4%;  
}

.brand{
    font-size: 20px;
    color: azure;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    padding: 0%;
    margin: 0;
}
.model{
    color: rgb(221, 0, 0);
    font-size: 80px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    padding-top: 5px;
    margin:0;
}
.specs{
    color: #B8B8B8;
    margin:0;
    padding-top: 10px;
    font-size: 20px;
}

.bio{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #D6D6D6;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 2px;
    padding-top: 15px;
    max-width: 400px;
}

.about-section{
    margin-left: 2rem;
    margin-top: 10px;
    width: 480px;
}
.title{
    font-family: "Sintony", sans-serif;
    transform: scaleY(1.1);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    color:azure;
}

hr{
    margin-left: 0;
    border-left: 0;
    padding-left: 0;
    width:  55px;
    border-color: rgb(221, 0, 0);
}

.about-points{
    list-style: none;
    padding-left: 0;
    width: 480px;   
}

.about-points li{
    font-family: "Manrope", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #b5b2b2f4;
    line-height: 2.2;
    position: relative;
    padding-left: 25px;
}

.about-points li::before {
    content: "❯";
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 14px;
    color: rgb(221, 0, 0);
}

.about-gallery{
    width:100%;
    padding:0 40px;
    box-sizing:border-box;
    display:flex;
    gap:60px;
    align-items:flex-start;
    padding-bottom: 40px;
}

.about-container{
    flex:4;
}

.gallery-container{
    flex:6;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 12px;
    padding: 18px;
}

.main-image{
    width: 100%;
    height:280px;
    object-fit:cover;
    border-radius:10px;
}

.thumbnails{
    display:flex;
    gap:15px;
    margin-top:15px;
}

.thumbnails img{
    width: 100%;
    height:80px;
    object-fit:cover;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

.thumbnails img:hover{
    transform:scale(1.05);
}

.car-specs{
    padding: 1.5rem;
    background:#050505;
}

.spec-container{
    display:flex;
    gap:40px;
    align-items:flex-start;
}

.tech-specs{
    width:60%;
}

.spec-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap:40px;
    position:relative;
    margin-top:20px;
}

.spec-grid::before{
    content:"";
    position:absolute;
    left:50%;
    top:0;
    bottom:0;
    width:1px;
    background:rgba(255,255,255,0.12);
}

.spec{
    display:grid;
    grid-template-columns:25px 120px 1fr;
    align-items:center;
    min-height:50px;
    border-bottom:1px solid rgba(255,255,255,0.08);
}

.icon{
    color:#ff0000;
    font-size:16px;
}

.label{
    color:#cfcfcf;
    font-size:14px;
}

.value{
    color:white;
    font-size:14px;
}

.performance {
    width: 40%;
    padding-left:20px;

}

.bar {
    margin-bottom: 20px;
    margin-top: 20px;
}

.bar span {
    display: block;
    font-size: 15px;
    margin-bottom: 6px;
    color: aliceblue;
}

.track {
    width: 100%;
    height: 7px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
}

.fill {
    height: 100%;
    background: red;
    border-radius: 10px;
}

.tech-specs,
.performance{
    border:1px solid rgba(255,255,255,0.08);
    border-radius:12px;
    padding:30px;
    background:rgba(255,255,255,0.01);
}