body{
    margin: 0;
    background : #050505;
}

.nav-links{
    display:flex;
    gap:50px;
    list-style:none;
    margin-left: auto;
}

.home, .category, .featured, .stories, .about{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15pt;
}

.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 5rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);    
}

.logo{
    display: flex;
}

.logo .white,
.logo .red{
    font-size: 1.5rem;
}

.white{
    font-size: 7rem;
    color: azure;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: italic;
}
.red{
    font-size: 7rem;
    color: rgb(221, 0, 0);
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.car-hero{
    width:100%;
    height:70vh;
    object-fit:cover;
    display: block;
    margin-bottom: 30px;
}

.hero{
    position: absolute;
    top: 18%;
    left: 4%;  
}

.categrory-name{
    font-size: 3rem;
    color: rgb(221, 0, 0);
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
}


.bio{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #D6D6D6;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 2px;
    padding-top: 15px;
    max-width: 400px;
}


.all-cars{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;    
    padding: 25px; 
    gap: 30px;
}

.all-cars img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-style: outset;
    border: 2px solid rgb(255,255,255,.08); 
}

.car{
    position: relative;
    grid-column: span 1;
}

.brand{
    position: absolute;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    transform: scaleY(1.1);
    text-shadow: 0 2px 10px rgba(0,0,0,.8);
    letter-spacing: 2px;
    font-weight: 500;
    color: #B8B8B8;
    top: 30px;
    left: 15px;
}

.model{
    position: absolute;
    font-family: "Rajdhani", sans-serif;
    font-size: 26px;
    font-weight: 550;
    letter-spacing: 1px;
    color: #D6D6D6;
    text-transform: uppercase;
    top: 60px;
    left: 15px;
}

.view-details{
    position: absolute;
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
    letter-spacing: .75px;
    text-transform: uppercase;
    font-optical-sizing: auto;
    color: rgb(221, 0, 0);
    top: 80%;
    left: 20px;
    transition: .3s ease;
    text-decoration: none;
    font-weight: 600;
}

.view-details:hover{
    color: #D6D6D6;
    transform: translateX(5px);
}

